@import "src/components/variables.scss";

.thumbnail {
	margin-top: $small;
	width: 100%;
	display: flex;
	justify-content: center;

	.thumbnailContent {
		width: 60rem;
	}
	.eventDetails {
		background-color: $colorBlack;
		display: flex;
		height: auto;
		font-family: roboto;
		align-items: center;
		width: 100%;
		.event {
			color: $colorWhite;
			text-transform: uppercase;
			margin-left: $small;
			margin-bottom: 0;

			.eventName {
				font-size: 1.3rem;
				color: $colorBlue;
				margin-left: $xsmall;
			}
		}
		.convenient {
			margin-left: auto;
			padding: 1rem;
			display: flex;
			flex-direction: column;
			text-align: end;
			color: white;
			p {
				margin: 0;
			}

			.eventPlace {
				color: $colorBlue;
			}
		}
	}
}
