@import "src/components/variables.scss";

.navigation {
	margin-top: 4rem;
	display: flex;
	justify-content: center;
	text-transform: uppercase;

	.logoContainer {
		margin-right: $small;
		cursor: pointer;

		.logo {
			width: 25rem;
			padding: 0;
			margin: 0;
		}
	}

	.navWrapper {
		justify-content: center;
		display: flex;
	}

	.navContent {
		background-color: $colorBlue;
		button {
			font-family: $basic;

			text-transform: uppercase;
			color: $colorWhite;
		}
	}

	.navContent:hover {
		background-color: transparent;
		color: $colorBlack;
	}
}
.navbar-light .navbar-nav .nav-link {
	color: $colorBlack;
	font-size: 1.1rem;
	padding-right: $small;
	font-family: roboto;
	letter-spacing: $xsmall;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: $colorBlue;
}
