//font colors
$colorBlue: #36cdc0;
$colorBlack: black;
$colorWhite: white;
$colorPurple: #3f1c4d;

//spaces
$medium: 3rem;
$small: 2rem;
$xsmall: 0.2rem;

//font family and size
$basic: roboto;
$fontsmall: 1rem;

//border radius
$bradius: 3px;
