@import "src/components/variables.scss";

.header {
  background-color: $colorBlack;
  color: white;
  display: flex;
  align-items: center;
  position: fixed;
  height: 3rem;
  width: 100%;
  top: 0;

  h1 {
    font-size: 1rem;
    margin: 0;
    padding-left: 2rem;
  }

  p {
    margin: 0;
    margin-left: auto;
    padding-right: 3rem;
  }
}
